nav ul li a:hover {
    background-color: #2573b3;
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: #0D3C63;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    z-index: 1000; /* memastikan dropdown berada di atas elemen lainnya */
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .bgdrop {
    background-color: red;
  }

  .kiri {
    margin-left: 0;
    padding-bottom: 0px;
  }

  .teksputih {
    color: #E0B64A;
    font-weight: 600;
  }

  .topline {
    border-top: 1px solid #E0B64A;
  }

  .underline {
    border-bottom: 1px solid #E0B64A;
  }

  nav {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
    background-color: #0d3c63;
  }

  ol,
  ul {
    padding-left: 2rem;
  }

  .btn {
    color: #E0B64A;
    background: none;
    border: none;
  }
  
  .dropdown {
    position: relative;
  }

  .dropdown-item {
    color: #E0B64A;
}