@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}

.containerCoverUmroh img {
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75);
}

.containerCoverDotIcon img {
  width: 60%;
  border-radius: 72px 13px 18px 10px;
  /* -webkit-border-radius: 72px 13px 18px 10px; */
  /* -moz-border-radius: 72px 13px 18px 10px; */
  /* box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75); */
  /* -webkit-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75); */
}

.parallax-1 {
  background-image: url("../assets/umrohh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 4%;
}

/* <img src="https://live.staticflickr.com/5582/14498364048_6a4c09f18c_h.jpg"> */
.parallax-1 h1 {
  font-size: 30px;
  text-align: center;
}

.parallax-1 h2 {
  font-size: 20px;
  text-align: center;
}

.parallax-inner {
  padding: 10% 0;
}

.containerUmroh h1 {
  font-weight: bolder;
}

.containerHome {
  width: 92%;
  margin: auto;
  height: auto;
  /* border: 2px solid red; */
  align-items: center;
  text-align: center;
}

.containerHome h1 {
  font-weight: bold;
}

.containerPaketUmroh {
  width: 92%;
  margin: auto;
  height: auto;
  /* border: 6px solid rgb(14, 255, 74); */
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.containerHomeDotIcon {
  width: 92%;
  margin: auto;
  height: 1550px;
  /* border: 6px solid rgb(14, 255, 74); */
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.paketUmroh {
  width: 450px;
  height: 800px;
  /* background-color: rgb(255, 20, 12); */
  padding: 1em;
  font-weight: 700;
  color: black;
  text-align: center;
  /* border: 10px solid rgb(24, 24, 24); */
  border-radius: 10px;
  width: 250px;
}

.containerListUmrohGambar {
  width: 150px;
  margin: auto;
  height: 150px;
  /* border: 5px solid red; */
  align-items: center;
  text-align: center;
}

.containerDeskripsi {
  width: 92%;
  margin: auto;
  height: 600px;
  /* border: 6px solid rgb(14, 255, 74); */
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button33 {
  background-color: #0d3c63;
  border-radius: 0px;
  border-radius: 0px 0px 13px 13px;
  /* box-shadow: rgba(13, 60, 99, 0.75) 0 -25px 18px -14px inset, rgba(13, 60, 99, 0.75) 0 1px 2px, rgba(13, 60, 99, 0.75) 0 2px 4px, rgba(13, 60, 99, 0.75) 0 4px 8px, rgba(13, 60, 99, 0.75) 0 8px 16px, rgba(13, 60, 99, 0.75) 0 16px 32px; */
  color: #eebe48;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  font-family: "Spinnaker", sans-serif;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button33:hover {
  box-shadow: rgba(13, 60, 99, 0.75) 0 -25px 18px -14px inset, rgba(13, 60, 99, 0.75) 0 1px 2px, rgba(13, 60, 99, 0.75) 0 2px 4px, rgba(13, 60, 99, 0.75) 0 4px 8px, rgba(13, 60, 99, 0.75) 0 8px 16px, rgba(13, 60, 99, 0.75) 0 16px 32px;
  /* transform: scale(1.05) rotate(-1deg); */
}

footer {
  background-color: #0d3c63;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.footer-section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.footer-section p,
.footer-section a {
  font-size: 1em;
  line-height: 1.6;
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section img {
  width: 30px;
  margin: 0 10px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9em;
}

.section4 {
  width: 70%;
  margin: auto;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  /* border: 6px solid rgb(14, 255, 74); */
}

.instagram-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* Increased gap for more spacing */
}

.instagram-item {
  flex: 1 1 calc(30% - 30px);
  /* Adjusted size to fit 3 per row */
  max-width: calc(30% - 30px);
  /* Adjusted size to fit 3 per row */
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.instagram-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.instagram-item:hover {
  transform: scale(1.05);
}

.instagram-item a {
  display: block;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .instagram-item {
    flex: 1 1 calc(45% - 20px);
    max-width: calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .instagram-item {
    flex: 1 1 calc(90% - 15px);
    max-width: calc(90% - 15px);
  }
}

.testimonial-content img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.testimonial-content:hover {
  transform: scale(1.05);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item {
  display: none;
  padding: 10px;
}

.testimonial-title {
  font-family: "Spinnaker", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-container {
  max-width: 1432px;
  margin: 0 auto;
}

.testimonial-content {
  transition: transform 0.3s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.tabura {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Space between images */
}

.tabura img {
  max-width: 45%;
  /* Adjust the width of the images */
  height: auto;
  display: block;
  margin: 0 auto;
}

.containerCoverUmroh img {
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -7px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .gambarPaket img {
    width: 100%;
    height: auto;
  }

  .containerDeskripsi {
    flex-direction: column;
  }

  .itenary {
    order: -1;
  }

  .deskripsi p{
    font-size: small;
  }

  .itenary h1{
    font-size:medium;
  }

  .itenary ul li{
    font-size: small;
  }

  
}


.cara-pendaftaran-section {
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #0D3C63;
}

.steps-image {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  padding: 10px 0; /* Add padding if needed */
  gap: 10px; /* Space between images */
  margin-bottom: 20px;
  scroll-snap-type: x mandatory; /* Smooth scrolling */
  justify-content: center; /* Center images horizontally within the container */
}

.cara-pendaftaran-img {
  flex: 1 0 auto; /* Ensure images don't shrink or grow too much */
  max-width: 40%; /* Scale images within the container */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start; /* Align images to the start */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.5em; /* Adjust title size for smaller screens */
  }

  .cara-pendaftaran-img {
    max-width: 80%; /* Adjust image size if necessary */
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 1.2em; /* Further reduce title size for very small screens */
  }

  .cara-pendaftaran-img {
    max-width: 70%; /* Adjust image size if necessary */
  }
}


/* Button CSS */

.btn {
  font-family: "CircularStd-Bold", sans-serif;
  font-weight: normal;
  background-color: transparent;
  border: solid 4px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 28px;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23000000'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
  background-position: right 32px center;
  background-repeat: no-repeat;
  background-size: 31px 12px;
  padding-right: 80px;
}

.btn:hover, .btn:focus {
  background-color: #000;
  border-color: #000;
  color: #ffffff;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(-4px);
  box-shadow: 4px 4px 0px rgba(3,4,3,.2);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23ffffff'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
}

.btn:active {
transform: translateY(0px);
box-shadow: 0px 0px 0px rgba(3,4,3,.15);
}


.btn:hover::after {
  opacity: 1;
}


/* Link CSS */

.text-block {
  color: #000000;
  font-family: "MaisonNeue-Book",Helvetica,Arial;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: calc(100% - (20px * 2));
  padding-bottom: 65px;
}

.text-block a:not(.btn) {
  color: #000000;
  font-family: "MaisonNeue-Bold",Helvetica,Arial;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: 16px;
}

.text-block a:not(.btn):hover, .text-block a:not(.btn):focus {
 // color: #fff;
}

.linkStyleOne a {
color: #000;
text-decoration: none;
border-bottom: 2px solid #000;
display: inline-block;
position: relative;
padding: 0 .15em;
transitionall 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
z-index: 1000;
}
.linkStyleOne a:before {
content: "";
z-index: -1;
width: 100%;
height: 0%;
background: rgba(0, 0, 0, 1);
bottom: 0;
left: 0;
position: absolute;
transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.linkStyleOne a:hover {
border-bottom: 2px solid #ff0046;
transform: translateY(-1px);
}

.linkStyleOne a:active {
transform: translateY(0px);
}